.mainContainer {
  background-color: #36393f;
}

.message_form__input {
  background-color: #40444b;
  border: 1px solid #40444b;
  border-radius: 10px;
  color:#dcddde;
  width: 90%;
  font-weight: bold;
}

.message_form__input::placeholder {
  color:#72767d;
}

.activeUsers {
  background-color: #2f3136;
}

.activeUsers h2 {
  color:#8e9297;
  height: 10%;
}

.onlineUsers {
  height: 85%;
  overflow: auto;
  color: #4287f5;
}

.inbox__messages {
  height: 80%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inbox__messages::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.message_form {
  height: 15%;
}

.message_form__button {
  background-color: #40444b;
  border: none;
  border-radius: 10px;
  color:#dcddde;
  font-weight: bold;
  width: 9%;
}

.sent__message {
  background-color: #b5392d;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  color:white;
  max-width: 30%;
  font-weight: 600;
}

.received__message {
  background-color: #282828;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  color:white;
  max-width: 30%;
  font-weight: 600;
}

.message__author {
  color: #4287f5;
}
.unameForm {
  display: block;
  margin: 0 auto;
  position: absolute;
  top:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.unameBox {
  background-color: #40444b;
  border: 1px solid #40444b;
  border-radius: 10px;
  color:#dcddde;
  font-weight: bold;
  width: 30%;
}

.unameSubmit {
  background-color: #40444b;
  border: none;
  border-radius: 10px;
  color:#dcddde;
  font-weight: bold;
  width: 9%;
}

.unamePrompt {
  height: 100vh;
  width: 100%;
  position: relative;
}
